extends layout

block additionalLinks
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
    section(class="margen")
        div(id="form-login", class='p-5')
            form(class="form", action="/login", method="POST")
                h4(class='mr-wallace-font text-center mt-4 mb-5') Mr Wallace
                div(class='form-group')
                    label(for='nickname') nickname
                    input(type='text', class="form-control", id='nickname', name='nickname', maxlength='100', placeholder='Introduce tu nickname', required)
                div(class='form-group')
                    label(for='password') contraseña
                    input(type='password', class="form-control", id='password', name='password', maxlength='100', placeholder='Introduce tu contraseña', required)
                button(type='submit', class='btn btn-primary btn-block my-4') entrar

    script(type='text/javascript', src='/javascripts/sanitize.js')