<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>version 4</title>

	<script src="/socket.io/socket.io.js"></script>

	<script type='text/JavaScript'>
		var socket = io.connect('/');
			//Now we can listen for that event
		socket.on('onconnected', function( data ) {
				//Note that the data is the object we sent from the server, as is. So we can assume its id exists. 
			console.log( 'Connected successfully to the socket.io server. My server side ID is ' + data.id );
		});
	</script>
	
	<script type="text/JavaScript" src="/mr_wallace/JavaScript/Librerias/phaser.js"></script>
	<!-- Enlaces con programas esenciales del juego || -->
	<script type="text/JavaScript" src="/mr_wallace/JavaScript/BootState.js"></script>
	<script type="text/JavaScript" src="/mr_wallace/JavaScript/LoadState.js"></script>
	<script type="text/JavaScript" src="/mr_wallace/JavaScript/main.js"></script>
	<script type="text/JavaScript" src="/mr_wallace/JavaScript/Niveles.js"></script>
	<script type="text/JavaScript" src="/mr_wallace/JavaScript/juego.js"></script>
	<script type="text/JavaScript" src="/mr_wallace/JavaScript/GameOver.js"></script>
	<script type="text/JavaScript" src="/mr_wallace/JavaScript/Controlador.js"></script>
	<!-- Hojas de estilos para el display(Canvas)-->
		<link rel="stylesheet" type="text/css" href="/mr_wallace/CSS/MEDJ.css">
</head>

<body>
    <!-- <h1 class="titulo">Game <span class="subtitulo">v.1.0</span></h1> -->
	<div id="game"></div>
</body>
</html>
