extends layout

block additionalLinks
    link(rel='stylesheet', href='stylesheets/signup.css')
block content
    div(class="row pt-2 m-0", id='content')
        div(class='col-lg-12 text-center p-4 bg-dark text-light')
            h1(class='mr-wallace-font text-center') Mr Wallace
        div(class="col-lg-6 p-0")
            form(class='form p-5 bg-light', action='/sign_up', method='POST', id='sign-up-form')
                h1(class='mb-2') Registro
                hr
                div(class='form-group mt-5')
                    label(for='name') Nombre completo
                    input(type='text', name='name', id='name', class='form-control', placeholder='Introduce tu nombre completo', maxlength='100', required)
                div(class='form-group')
                    label(for='nickname') Nickname
                    input(type='text', name='nickname', id='nickname', class='form-control', placeholder='Introduce un nombre loco', maxlength='15', required)
                div(class='form-group')
                    label(for='email') Correo electrónico
                    input(type='email', name='email', id='email', class='form-control', placeholder='Introduce tu email', maxlength='100', required)
                div(class='form-group mt-5')
                    label(for='password') Contraseña
                    input(type='password', name='password', id='password', class='form-control', placeholder='Introduce tu contraseña', maxlength='100', required)
                div(class='form-group')
                    label(for='password-re') Repite tu contraseña
                    input(type='password', name='password-re', id='password-re', class='form-control', placeholder='Repite tu contraseña', maxlength='100', required)
                button(type='submit', class='btn btn-primary btn-block mt-5') registrar
        div(class="col-lg-6 p-2", id='planet')
            img(src='/images/planeta1.png', width='100%', class='img-fluid px-5 py-2')